body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #61062d, #be3a6c);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    background: #27ae60;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 20px;
    transition: background 0.3s ease;
}

button:hover {
    background: #2ecc71;
}

.details {
    margin: 20px 0;
    text-align: left;
}

.details p {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

#qrcode {
    margin: 20px auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    width: fit-content;
    display: none; 
    /* Hide the QR code container by default.
     Only displayed after pressing FetchData button*/
  }